<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:400,300,600' %>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>

    <nav>
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <div id="logo">
              <%= link_to 'Peter Featherstone', '/index.html' %>
            </div>
            <ul class="navbar-list">
              <li class="navbar-item"><%= link_to 'Home', '/index.html' %></li><li class="navbar-item"><%= link_to 'About', '/about.html' %></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div id="main" role="main" class="container">
      <div class="row">
        <div class="twelve columns">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer class="container">
      <div class="row">
        <div class="twelve columns">
          Static pages built using <%= link_to 'Middleman', 'https://middlemanapp.com/' %> & hosted on <%= link_to 'GitHub Pages', 'https://pages.github.com/' %>.<br />
          Find me on <%= link_to 'GitHub', 'https://github.com/peter-featherstone' %>, 
          <%= link_to 'StackOverflow', 'https://stackoverflow.com/users/1836618/peter-featherstone' %>,
          <%= link_to 'Twitter', 'https://twitter.com/PlumaPiedra' %>
           or via <%= link_to 'Email', 'mailto:hello@peterfeatherstone.com' %>.
        </div>
      </div>
    </footer>

  </body>
</html>
